@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@600&display=swap');

.tasks-container {
  grid-area: tasks;
}

.grid-wrapper {
  --gap: 1em;
  --columns: 4;
  columns: var(--columns);
  gap: var(--gap);
  color: #000;
  padding: 30px 0 0 15px;
  margin-right: 10px;
}

.grid-wrapper > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}

.flow > * + * {
  margin-top: 1rem;
}

.tasks-content {
  padding: 1em;
  background: white;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
}

.tasks-content p {
  max-height: 400px;
  overflow-y: auto;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* font-family: 'Merienda', serif; */
  font-family: 'Oxygen', sans-serif;
  white-space: pre-line;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tasks-content p::-webkit-scrollbar {
  display: none;
}

.tasks-title {
  font-weight: 900;
  color: #ee6352;
  line-height: 0.8;
  word-wrap: break-word;
  font-family: 'Amiko', sans-serif;
}

.tasks-desc:hover {
  cursor: pointer;
}

.tasks-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.fa-icon-trash:hover {
  color: #ee6352;
  cursor: pointer;
}

.fa-icon-pencil:hover {
  cursor: pointer;
  color: #52b01c;
}

.tasks-modal {
  color: #000;
}

.tasks-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.tasks-date p {
  margin: 0;
  font-size: 0.8em;
  color: #4d5057;
}

.tasks-completed {
  opacity: 60%;
}

@media only screen and (max-width: 1250px) and (min-width: 1023px) {
  .grid-wrapper {
    column-count: 3;
  }
}

@media only screen and (max-width: 1023px) {
  .grid-wrapper {
    column-count: 2;
  }
}

@media only screen and (max-width: 700px) {
  .grid-wrapper {
    column-count: 1;
  }

  .tasks-content p {
    -ms-overflow-style: unset;
    scrollbar-width: unset;
  }

  .tasks-content p::-webkit-scrollbar {
    display: unset;
  }
}
