.login {
  margin-top: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.login-btn {
  margin-top: 20px;
}

.login label {
  margin-bottom: 0;
  padding-top: 15px;
}
