.home-container {
  display: grid;
  grid-template-areas: 'filter-btn filter-btn filter-btn' 'sidebar tasks tasks';
  grid-template-columns: 250px auto;
}

.home-filter-btn {
  grid-area: filter-btn;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.home-filter-btn button {
  color: #000;
  background: #c6c6c9;
  border: 1px solid #000;
  width: max-content;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.home-filter-btn button:hover {
  background: hsla(0, 0%, 100%, 0.2);
  color: #fff;
}

.home-filter-btn-selected {
  /* background: #474d5841 !important; */
  background: hsla(0, 0%, 100%, 0.2) !important;
  color: #fff !important;
}
