@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@600&display=swap');

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background: #c6c6c9;
  min-height: 40px;
  /* margin-bottom: 1em; */
  /* padding: 1em 2em 0 0; */
  width: 100%;
  font-family: 'Amiko', sans-serif;
  color: #000;
}

.header p {
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0;
  line-height: 0;
  padding: 8px 5px;
}

.header svg {
  margin-right: 5px;
}

.header-logo {
  margin-right: auto;
  padding-left: 1em;
  text-decoration: none;
  color: #000;
}

.header-log-out-btn,
.header-quick-task-btn {
  border: 1px solid #000;
  width: max-content;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.header-logo:hover,
.header-fa-bars:hover {
  cursor: pointer;
  color: #4d5057;
}

.header-log-out-btn:hover {
  cursor: pointer;
  background: #f08d80;
}

.header-quick-task-btn:hover {
  cursor: pointer;
  background: #4d5057;
}

.header-quick-task-btn {
  color: #fff;
  background: #282c34;
}

.header-log-out-btn {
  background: #ee6352;
  margin-right: 25px !important;
}

.header-fa-bars {
  display: none;
  margin-left: 15px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 700px) {
  /* .header-toggle .header-fa-bars {
    transform: rotate(50deg) scaleX(-1);
  } */

  .header-fa-bars {
    display: block;
    position: absolute;
    margin-top: 10px;
    left: 0;
    top: 0;
    justify-content: flex-start;
  }

  .header-logo,
  .fa-home,
  .header-log-out-btn,
  .header-quick-task-btn {
    display: none;
  }

  .header-toggle {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    z-index: 1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    min-height: unset;
  }

  .header-toggle > .header-logo {
    display: block;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .header-toggle > .header-log-out-btn,
  .header-toggle > .header-quick-task-btn {
    display: block;
    margin: 0 !important;
    border: none;
    width: 80%;
    font-size: 0.9rem;
  }

  .header-toggle > .header-log-out-btn {
    margin-bottom: 20px !important;
  }
}
